.navs {
    position: fixed;
    z-index: 999;
    background-color: black;
  }
  
  .nav-logs {
    display: flex;
    font-size: 20px;
    position: absolute;
    top: 2%;
    font-weight: bolder;
    left: 0;
    font-style: oblique;
  }
  .nav {
    position: absolute;
    top: 5%;
    right: 0%;
  }
  .nav-log {
    font-size: 10px;
  }
  
  @media screen and (min-width: 780px) {
    .nav-logs {
      display: flex;
      font-size: 40px;
      position: absolute;
      top: 2%;
      font-weight: bolder;
      left: 10%;
      font-style: oblique;
    }
    .nav {
      position: absolute;
      top: 5%;
      right: 0%;
      transition: scale;
    }
    .nav-log {
      font-size: 20px;
    }
  }
  