@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}
html {
  min-height: 100%;
}
/* baase styles & title */
body {
  font-family: "Noto serif";
  background-color: rgb(132, 177, 199);
  min-height: 100%;
}
.day {
  padding: 20px;
  color: black;
  text-align: center;
}
.days {
  text-align: center;
  font-weight: bolder;
  font-style: oblique;
  color: #ff4a4a;
}
.daytime {
  padding: 2px;
  text-align: center;
}
.daybutton {
  margin-left: 120px;
  margin-top: 9px;
}
form {
  padding: 20px;
  margin-top: 60px;
}
form button,
form h5 {
  margin: 20px 0;
}
input[type="text"]:not(.brower-defult):focus:not([readonly]),
input[type="email"]:not(.brower-defult):focus:not([readonly]),
input[type="password"]:not(.brower-defult):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: pink;
  box-shadow: none;
}
.buttom {
  color: white;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}
@media screen and (max-width: 480px) {
  .daybutton {
    margin-left: 70px;
    margin-top: 9px;
  }
}
/* upload from styles */

/*progress bar styles */

/*image grid styles */

/*model styles */
